<!-- Resize delle immagini -->
<%= image_tag content.cover.variant(resize_to_limit: [50,50]).processed %>


<div id="<%= dom_id content %>">

  <p>
    <strong>Titolo:</strong>
    <%= content.titolo %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= content.descrizione %>
  </p>

  <p>
    <strong>Utente:</strong>
    <!--per verificare se lo user è assegnato al contenuto-->
    <!--< %= content.user.name if content.user %>-->
    <%= content.user.name %>
  </p>

  <p>
    <strong>Prezzo:</strong>
    <%= content.price %>
  </p>

</div>
