<p style="color: green"><%= notice %></p>

<%= render @content %>

<div>
  
  <% if @content.user == current_user %>
    <%= link_to "Edit this content", edit_content_path(@content) %>
  <% end %>
   |
  <%= link_to "Back to contents", contents_path %>

  <% if @content.user == current_user  %>
    <%= button_to "Destroy this content", @content, method: :delete %>
  <% end %>
</div>
